#root {
  display: grid;
  height: 100vh;
  background-color: #212424;
  grid-template-areas: "sidepanel page";
  grid-template-columns: 1fr 4fr;
  gap: 15px;
}

.page {
  grid-area: page;
  background-color: white;
  margin: 15px;
  margin-left: 0;
  padding: 10px;
  border-radius: 25px;
}

a {
  text-decoration: none;
}